<% layout('/layouts/boilerplate') %>
<body>
    <div class="container1 my-5">
        <div class="row">
            <img src="/Assets/rewards.jpeg" alt="rewards image" style="margin: auto !important; width: 80% !important;">
        </div>
    </div>
</body>